@font-face {
    font-family: "Atkinson";
    src: url("public/WOFF2/AtkinsonHyperlegibleNext-Light.woff2")
        format("woff2");
    font-weight: lighter;
}

@font-face {
    font-family: "Atkinson";
    src: url("public/WOFF2/AtkinsonHyperlegibleNext-LightItalic.woff2")
        format("woff2");
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: "Atkinson";
    src: url("public/WOFF2/AtkinsonHyperlegibleNext-Regular.woff2")
        format("woff2");
}

@font-face {
    font-family: "Atkinson";
    src: url("public/WOFF2/AtkinsonHyperlegibleNext-RegularItalic.woff2")
        format("woff2");
    font-style: italic;
}

@font-face {
    font-family: "Atkinson";
    src: url("public/WOFF2/AtkinsonHyperlegibleNext-Bold.woff2") format("woff2");
    font-weight: bold;
}

@font-face {
    font-family: "Atkinson";
    src: url("public/WOFF2/AtkinsonHyperlegibleNext-BoldItalic.woff2")
        format("woff2");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Atkinson";
    src: url("public/WOFF2/AtkinsonHyperlegibleNext-ExtraBold.woff2")
        format("woff2");
    font-weight: bolder;
}

@font-face {
    font-family: "Atkinson";
    src: url("public/WOFF2/AtkinsonHyperlegibleNext-ExtraBoldItalic.woff2")
        format("woff2");
    font-weight: bolder;
    font-style: italic;
}

* {
    box-sizing: border-box;
    font-family: Atkinson;
}

body {
    padding-top: 50px;
    padding-right: 100px;
    padding-left: 100px;
}

@media screen and (max-width: 40rem) {
    #tech-stack {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
}

@media screen and (min-width: 40rem) {
    #tech-stack {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #name-tag {
        display: flex;
        gap: 5px;
    }
}
