* {
    box-sizing: border-box;
}

body {
    background-image: url("public/background.jpg");
    padding-top: 50px;
    padding-right: 100px;
    padding-left: 100px;
}

nav {
    background-color: #333;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
}

#header {
    position: relative;
}

#skull-gif-1 {
    position: absolute;
    top: 0;
    right: 0;
}
